
// Sprites Map
$sp_application: (
	name: 'sp_application',
	width: 416px,
	height: 360px,
	image: '../img/sp_application.png',
	sprites: (
	arrow-gray-right: (
			offset-x: -380px,
			offset-y: -258px,
			width: 32px,
			height: 32px,
		),
		box_selectric_btn: (
			offset-x: -380px,
			offset-y: -48px,
			width: 32px,
			height: 32px,
		),
		calender_next_btn: (
			offset-x: -212px,
			offset-y: -64px,
			width: 64px,
			height: 64px,
		),
		calender_next_btn_sm: (
			offset-x: -174px,
			offset-y: -196px,
			width: 48px,
			height: 48px,
		),
		calender_prev_btn: (
			offset-x: -138px,
			offset-y: -64px,
			width: 64px,
			height: 64px,
		),
		calender_prev_btn_sm: (
			offset-x: -174px,
			offset-y: -254px,
			width: 48px,
			height: 48px,
		),
		checkbox-n: (
			offset-x: -58px,
			offset-y: -138px,
			width: 48px,
			height: 48px,
		),
		checkbox-s: (
			offset-x: -116px,
			offset-y: -138px,
			width: 48px,
			height: 48px,
		),
		header_arrow_down: (
			offset-x: -380px,
			offset-y: -216px,
			width: 32px,
			height: 32px,
		),
		icon-arrow-down: (
			offset-x: -380px,
			offset-y: 0px,
			width: 36px,
			height: 38px,
		),
		icon-arrow-up: (
			offset-x: -324px,
			offset-y: -312px,
			width: 36px,
			height: 38px,
		),
		icon-btn-arrow-gray1: (
			offset-x: -380px,
			offset-y: -174px,
			width: 32px,
			height: 32px,
		),
		icon-btn-arrow-gray2: (
			offset-x: -380px,
			offset-y: -132px,
			width: 32px,
			height: 32px,
		),
		icon-btn-arrow-green: (
			offset-x: -380px,
			offset-y: -90px,
			width: 32px,
			height: 32px,
		),
		icon-calender: (
			offset-x: -224px,
			offset-y: -312px,
			width: 40px,
			height: 40px,
		),
		icon-search: (
			offset-x: 0px,
			offset-y: -138px,
			width: 48px,
			height: 48px,
		),
		icon-snb-create-black: (
			offset-x: 0px,
			offset-y: -254px,
			width: 48px,
			height: 48px,
		),
		icon-snb-create: (
			offset-x: -58px,
			offset-y: -254px,
			width: 48px,
			height: 48px,
		),
		icon-snb-order-black: (
			offset-x: -116px,
			offset-y: -254px,
			width: 48px,
			height: 48px,
		),
		icon-snb-order: (
			offset-x: -232px,
			offset-y: -196px,
			width: 48px,
			height: 48px,
		),
		icon-snb-payment-black: (
			offset-x: -232px,
			offset-y: -254px,
			width: 48px,
			height: 48px,
		),
		icon-snb-payment: (
			offset-x: -322px,
			offset-y: 0px,
			width: 48px,
			height: 48px,
		),
		icon-snb-productlist-black: (
			offset-x: -322px,
			offset-y: -58px,
			width: 48px,
			height: 48px,
		),
		icon-snb-productlist: (
			offset-x: -322px,
			offset-y: -116px,
			width: 48px,
			height: 48px,
		),
		icon-snb-registration-black: (
			offset-x: -322px,
			offset-y: -174px,
			width: 48px,
			height: 48px,
		),
		icon-snb-registration: (
			offset-x: -322px,
			offset-y: -232px,
			width: 48px,
			height: 48px,
		),
		icon_bar: (
			offset-x: 0px,
			offset-y: -312px,
			width: 48px,
			height: 48px,
		),
		icon_close_active: (
			offset-x: -58px,
			offset-y: -312px,
			width: 48px,
			height: 48px,
		),
		icon_close_disable: (
			offset-x: -116px,
			offset-y: -312px,
			width: 48px,
			height: 48px,
		),
		icon_delete: (
			offset-x: -274px,
			offset-y: -312px,
			width: 40px,
			height: 40px,
		),
		icon_error: (
			offset-x: 0px,
			offset-y: 0px,
			width: 128px,
			height: 128px,
		),
		icon_small_delete: (
			offset-x: -380px,
			offset-y: -300px,
			width: 28px,
			height: 28px,
		),
		linepay_logo: (
			offset-x: -138px,
			offset-y: 0px,
			width: 174px,
			height: 54px,
		),
		pagenation_next_btn: (
			offset-x: -116px,
			offset-y: -196px,
			width: 48px,
			height: 48px,
		),
		pagenation_prev_btn: (
			offset-x: -58px,
			offset-y: -196px,
			width: 48px,
			height: 48px,
		),
		pop_close_btn: (
			offset-x: 0px,
			offset-y: -196px,
			width: 48px,
			height: 48px,
		),
		radio-on: (
			offset-x: -232px,
			offset-y: -138px,
			width: 48px,
			height: 48px,
		),
		selectric-dropdown: (
			offset-x: -174px,
			offset-y: -138px,
			width: 48px,
			height: 48px,
		),
		tooltip_close_btn: (
			offset-x: -174px,
			offset-y: -312px,
			width: 40px,
			height: 40px,
		),
	)
);