.inner {
    width: 80%;
    margin: 0 auto;
}

.point{
    font-weight: 800;
    color: #968C83;
}

// spot area
h2 {
    position: absolute;
    z-index: 10;
    color: #7D5A5A;
    font-weight: 600;
}

p {
    padding-top: 50px;
}
