.inner {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.point{
    font-weight: 800;
    color: #968C83;
}

// spot area
h2 {
    position: absolute;
    z-index: 10;
    color: #7D5A5A;
    font-weight: 600;
}

p {
    padding-top: 50px;
}

// main profile
.main_profile_area {
    padding: 120px 0;
    background-color: #fdfdfd;
    .title_text{
        margin-bottom: 60px;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -0.5px;
        color: #666;
    }
    .profile_list {
        .profile_item {
            position: relative;
            margin: 0 0.5em;
            padding: 50px;
            @include border-radius(28px);
            box-shadow: 0 1px 4px 0 rgb(0 0 0 / 6%);
            background-color: #fff;
            &+.profile_item{
                margin-top: 50px;
            }
            strong{
                display: block;
                margin-bottom: 15px;
                font-size: 43px;
                font-weight: 600;
            }
            img{
                position: absolute;
                top: 0;
                width: 200px;
            }
            .day1 {
                top: 10px;
                left: 13%;
            }
            .day2 {
                top: 20px;
                right: 15%;
            }
            .day3 {
                top: -10px;
                left: 20%;
            }

            @include mobile {
                width: 100%;
                display: block;
            }
        }
    }
}